*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #aeb6bf;
}

/*.caja-logo{
    display: block;
    margin: auto;
    padding: 5px;
}

.logo{
    float: left;
    width: 20%;

}*/

.caja-logo{    
/*    background-color: white;*/
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: repeat(1, 100px);
    justify-content: center;
    align-content: center;
}

.logo{

    padding: 0;

}

.titulo{
    text-align: center;
    margin: 20px;
    color: red;
    font-size: xxx-large;
    font-family: helvetica;
/*    float: left;*/
}

.container-img{
    width: 100%;
    max-width: 1100px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 250px;
    grid-gap: 20px;
}
.container-img .box-img figure{
    width: 100%;
    height: 100%;
}
.container-img .box-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}
.container-img .box-img:nth-child(1){
    grid-column-start: span 1; /*Si en lugar de 1 fuera 2 tendriamos 2 columnas juntas */
}
.container-img .box-img:nth-child(4){
    grid-row-start: span 1; /*Si en lugar de 1 fuera 2 tendriamos 2 filas juntas */
}
@media screen and (max-width:800px){
    .container-img{
        width: 95%;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;/*aquí cambiamos el espaciado entre fotos en index */
        grid-template-rows: 200px;
    }
    .container-img .box-img:nth-child(1){
        grid-column-start: span 1;
    }
}
@media screen and (max-width:500px){
    .container-img{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
    }
    .container-img .box-img img{
        height: 200px;
    }
}

/*paginas secundarias */

.pagina_producto{
    display: block;
    margin: 40px;
    width: 80%;
    padding: 40px;
    border: 5px solid red;
    border-radius: 15px;
    color: white;
}

.titulo-secundario{
    text-align: center;
    font-family: Helvetica;
    font-size: xx-large;
    color: #2c9211;
    padding-bottom: 10px;
}

.lista{
    font-size: 1rem;
    list-style-type: decimal;
    color: #044fa6;
}

.container-foto {
    width: 96%;
    max-width: 960px;
    margin: auto;
    display:block;
}
.Caja_foto{
    width: 100%;
    height: auto;
}
.foto_grande{
    width: 100%;
    padding: 20px;
    border-radius: 30px;
}

.leyenda{
    text-align: center;
    font-family: Arial;
}
